<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        div{
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="reg">
            <h3>Registraion</h3>
            {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form action="/reg_user" method="post">
            {% csrf_token %}
             First Name: <input type="text" name="fname">
            <br>
            Last Name: <input type="text" name="lname">
            <br>
            Email: <input type="email" name="email">
            <br>
            Password: <input type="password" name="pw">
            <br>
            Confirm Password: <input type="password" name="cpw">
            <br>
            <input type="submit" value="create">
        </form>
    </div>
    <div class="login">
        <h3>Login</h3>
        <form action="/login" method="POST">
            {% csrf_token %}
            Email: <input type="email" name="email">
            <br>
            Password <input type="password" name="pw">
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>