<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        div{
            margin-left: 50px;
        }
    </style>
    <title>Book Info</title>
</head>
<body>
    {{book.title}}
    <br>
    ID: {{book.id}}
    <br>
    Description: {{book.desc}}
    <br><br><br><br><br><br><br><br><br>
    <div>
    Authors:
    <ul>
        {%for i in authors%}
        <li>{{i.first_name}} {{i.last_name}}</li>
        {%endfor%}
    </ul>
    <form action="/addauthor_tobook/{{book.id}}" method="post">
        {% csrf_token %}
    <select name="author">
        {%for x in all_authors%}
        <option value={{x.id}}>{{x.first_name}} {{x.last_name}}</option>
        {%endfor%}
    </select>
    <input type="submit" value="add">
    </form>
    </div>
</body>
</html>